
@model List<Producto>
@{
    ViewData["Title"] = "Lista de Productos";
}
<h1>@ViewData["Title"]</h1>
<button type="button" class="btn btn-success" onclick="location.href='@Url.Action("Create", "Producto")'">Nuevo producto</button>

<p>En esta pagina se muestra la lista de productos.</p>
<table class="table">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Nombre</th>
            <th scope="col">Descripcion</th>
            <th scope="col">Cantidad</th>
            <th scope="col">Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model)
        {
            <tr>
                <td>@item.IdProducto</td>
                <td>@item.Nombre</td>
                <td>@item.Descripcion</td>
                <td>@item.Cantidad</td>
            </tr>
            
        }
    </tbody>
</table>